#h1 {
font-family: 'Courier New', Courier, monospace;
font-style: italic;
font-weight: 100px;
}
.container {
    background-color: gainsboro;
}
.h4 {
    color: red;
}
#imagens {
    width:360px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0 ,0, 0, 0.3);
}
#textbox {
    width: 300px;
}